.calendar {
  width: 50%;
  margin: 50px auto;
}
.calendar-header {
  background-color: #333;
  display: flex;
}

.calendar-header input {
  flex: auto
}
.calendar-header button {
  width: 50px;
  padding: 1px 1em;
  font: bold 20px/1.5 Cairo;

}
.calendar .week-names {
  background-color: #888;
  display: flex;
}
.calendar .week-names span {
  flex: auto;
  text-align: center;
}
.calendar .month-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar .month-days span {
  text-align: center;
}


